<!DOCTYPE html>
<html>
<head>

{{>head}}

</head>
<body>
 {{>menu}}
    <br/><br/><br/>

    {{>headline}}

    <br/>
    <br/>


<div class="container">
	<div class="row">
		{{#each ImageArray}}
		<div class="col-md-6">
			<div class="thumbnail">
			<img src="/images/{{../city}}/{{../city}}-{{this}}.jpg"/>
			</div>
		</div>
		{{/each}}
	</div>
</div>





<!--

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
				    <img src="/images/main0.jpg"/>
				 </div>
			</div>
			<div class="col-md-8">
				<div class="thumbnail">
			    	<img src="/images/main1.jpg"/>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			    	<img src="/images/main2.jpg"/>
			    </div>
			</div>
			<div class="col-md-8">
			    <div class="thumbnail">
					<img src="/images/main3.jpg"/>
				</div>
			</div>
		</div>
	</div>

-->

<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iLoveMyCity</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/mumbai">Mumbai</a></li>
      <li><a href="/delhi">Delhi</a></li>
      <li><a href="/kolkatta">Kolkatta</a></li>
      <li><a href="/chennai">Chennai</a></li>
    </ul>
  </div>
</nav>
-->


  </body>
</html>


